@model List<ComputerReference.Computer>

@{
    List<ComputerReference.Brand> brandList = ViewBag.Brands;
    List<ComputerReference.OS> osList = ViewBag.OS;
}

<h1 class="mt-3">Computer Catalog</h1>

 <table class="table table-bordered table-striped table-sm mt-1">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Operational System</th>
                <th>Hard Drive</th>
                <th>Screen Size</th>
                <th>Brand</th>
                <th>Display Resolution</th>
                <th>Ram</th>
                <th>
                   Action
                </th>
            </tr>
        </thead>
         <tbody>
        @foreach (ComputerReference.Computer item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @osList.FirstOrDefault(os=> os.Id == item.Os).Name
                    </td>
                    <td>
                        @item.HardDrive
                    </td>
                    <td>
                        @item.ScreenSize
                    </td>
                    <td>
                        @brandList.FirstOrDefault(brand=> brand.Id == item.Brand).Name
                    </td>
                    <td>
                        @item.DisplayResolution
                    </td>
                    <td>
                        @item.Ram
                    </td>
                    <td> 
                       <a asp-action="Edit" asp-controller="Home" asp-area="" 
                         asp-route-id="@item.Uuid"
                        class="btn btn-primary">
                         Edit
                        </a>
                        <span class="linkSpacer ml-1 mr-1">|</span>
                        <a asp-action="Delete" asp-controller="Home" asp-area="" 
                         asp-route-id="@item.Uuid"
                        class="btn btn-primary">
                         Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
 </table>