@model ComputerReference.Computer

@{
    List<ComputerReference.Brand> brandList = ViewBag.Brands;
    List<ComputerReference.OS> osList = ViewBag.OS;
}

<form asp-action="Create" asp-controller="Home" method="post">
        <div class="form-group row">
            <div class="col-sm-2"><label>Name:</label></div>
            <div class="col-sm-4">
                <input asp-for="@Model.Name" class="form-control"  />
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"><label>Quantity:</label></div>
            <div class="col-sm-4">
                <input asp-for="@Model.Quantity" type="number" step="1" class="form-control"  />
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"><label>Price:</label></div>
            <div class="col-sm-4">
                <input asp-for="@Model.Price" type="number" step="0.01" class="form-control"  />
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
        </div>








        <div class="form-group row">
            <div class="col-sm-2"><label>Hard Drive:</label></div>
            <div class="col-sm-4">
                <input asp-for="@Model.HardDrive" class="form-control"  />
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="@Model.HardDrive" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"><label>Screen Size:</label></div>
            <div class="col-sm-4">
                <input asp-for="@Model.ScreenSize" class="form-control"  />
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="@Model.ScreenSize" class="text-danger"></span>
            </div>
        </div>



        <div class="form-group row">
            <div class="col-sm-2"><label>Display Resolution:</label></div>
            <div class="col-sm-4">
                <input asp-for="@Model.DisplayResolution" class="form-control"  />
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="@Model.DisplayResolution" class="text-danger"></span>
            </div>
        </div>


        
        <div class="form-group row">
            <div class="col-sm-2"><label>Ram:</label></div>
            <div class="col-sm-4">
                <input asp-for="@Model.Ram" class="form-control"  />
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="@Model.Ram" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-2"><label>Image Url:</label></div>
            <div class="col-sm-4">
                <input asp-for="@Model.ImageUrl" class="form-control"  />
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
            </div>
        </div>



        <div class="form-group row">
            <div class="col-sm-2"><label>Brand</label></div>
            <div class="col-sm-4">
                <select asp-for="@Model.Brand" class="form-control"
                    asp-items='@new SelectList(brandList, "Id", "Name", Model.Brand)'>
                </select>
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="@Model.Brand" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"><label>Operational System</label></div>
            <div class="col-sm-4">
                <select asp-for="@Model.Os" class="form-control"
                    asp-items='@new SelectList(osList, "Id", "Name", Model.Os)'>
                </select>
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="@Model.Os" class="text-danger"></span>
            </div>
        </div>

         <input type="hidden" asp-for="@Model.Uuid" />

        <div class="row">
            <div class="col-sm-4 offset-sm-2">
                <button type="submit" class="btn btn-primary">Add</button>

                <a asp-action="AllComputers" class="btn btn-primary">Cancel</a>
            </div>
        </div>
   
</form>